body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

h1 {
	font-family: Trebuchet, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #AD0000;
}

h3 {
	font-family: Trebuchet, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #AD0000;
}

tr:nth-child(even) {
	background-color: #EBEBEB;
}

th.coloured {
	font-size: 13px;
	font-weight: bold;
	color: #AD0000;
	background-color: #FAEEEE;
	text-align: center;
	border: 1px solid black;
}

td {
	font-size: 12px;
	font-weight: normal;
	color: #5C5C5C;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid black;
}

.clear {
	clear: both;
}

.content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pageHeader {
	margin: 0;
	padding: 5px 5px 5px 5px;
	width: 100%;
	background-color: #EDEFF2;
	border-bottom: 2px solid #AD0000;
}

#titleArea {
	width: 30%;
	font-size: 27px;
	float: left;
}

#linkArea {
	width: 60%;
	font-size: 12px;
	font-weight: bold;
	color: #4D6EBA;
	float: left;
	text-align: right;
}

#jenkinsLink {
	padding-top: 10px;
}

#summaryArea {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#buildSummary {
	width: 50%;
	float: left;
}

#stepSummary {
	width: 50%;
	float: left;
}

#graphArea {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: solid 1px black;
	text-align: center;
	height: 400px;
}

.fullWidth {
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
}

#pageFooter {
	font-family: Trebuchet, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: 12px #8C8C8C;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	background-color: #EDEFF2;
	padding-top: 5px;
	padding-bottom: 5px;
}

.summaryTable {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

.rowsTable {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

.cellText {
	font-size: 9px;
	background-color: #ffffff;
	align: left;
}

.emphasised {
	font-size: 12px;
	font-weight: bold;
	color: #AD0000;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	font-style: italic;
}

.bolded {
	font-weight: bold;
	font-style: italic;
}