@CHARSET "ISO-8859-1";

body {
	font-family: Arial, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;	
	
}

#content {
width: 960px;
margin-left: auto;
	margin-right: auto;
}

#pageHeader {
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	color: white;
	background-color: #EDEFF2;
	border-bottom: 2px solid #AD0000;
}

#titleArea {
	background-color: #ffffff;
	color: #000000;
	font-size: 27px;	
}

#returnLink {
	font-size: 12px;
	font-weight: bold;
	color: #4D6EBA;
}

#projectgraph {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: solid 1px black;
	text-align: center;
	height: 400px;
}

#pageFooter {
	font-family: Trebuchet, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: 12px #8C8C8C;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	background-color: #EDEFF2;
}

#pageHeader #imageArea {
	/* width: 100%; 
	*/
	
}