target/**
work/**
.classpath
.project
velocity.*
.settings/**
/target
/.idea
/cucumber-perf.iml
/testingInfo/JavaTest/.idea
/testingInfo/JavaTest/JavaTest.iml
/testingInfo/JavaTest/target/classes/com/castlemon/javatest
