<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cucumber Feature Report</title>
<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/highcharts.js"></script>
<script>
	/* Feature-level graph */
	jQuery(document).ready(function() {
		jQuery('#projectgraph').highcharts({
			chart : {
				type : 'line'
			},
			tooltip : {
				enabled : false
			},
			title : {
				text : 'Feature Performance'
			},
			xAxis : {
				title : {
					text : 'Build Number'
				},
				tickInterval : 1
			},
			yAxis : {
				title : {
					text : 'Time taken (seconds)'
				}
			},
			series : [ {
				name : 'Time Taken',
				data : $perfData
			}, {
				name : 'Average',
				data : $averageData
			} ]
		});
	});
</script>
</head>
<body>
	<div id="pageHeader">
		<div id="titleArea">Cucumber Project Reports</div>
		<div id="linkArea">
			<div id="projectLink">
				<a href="projectview.html">Back To Project View</a>
			</div>
			<div id="jenkinsLink">
				<a href="${jenkins_base}job/$build_project">Back To Jenkins</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<p />
	<div class="content">
		<h1>Feature Report for $featureSummary.name</h1>
		<h3>Summary</h3>
		<p />
		<div id="summaryArea">
			<div id="buildSummary">
				<table class="summaryTable">
					<tr>
						<th class="coloured" colspan="2">Build Summary</th>
					</tr>
					<tr>
						<td>Number of Passed Builds:</td>
						<td>$featureSummary.passedBuilds</td>
					</tr>
					<tr>
						<td>Number of Failed Builds:</td>
						<td>$featureSummary.failedBuilds</td>
					</tr>
					<tr>
						<td>Number of Total Builds:</td>
						<td>$featureSummary.totalBuilds</td>
					</tr>
				</table>
			</div>
			<div id="stepSummary">
				<table class="summaryTable">
					<tr>
						<th class="coloured" colspan="2">Step Summary</th>
					</tr>
					<tr>
						<td>Number of Passed Steps:</td>
						<td>$featureSummary.passedSteps</td>
					</tr>
					<tr>
						<td>Number of Failed Steps:</td>
						<td>$featureSummary.failedSteps</td>
					</tr>
					<tr>
						<td>Number of Skipped Steps:</td>
						<td>$featureSummary.skippedSteps</td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>
			<p />
			<div class="emphasised">Only successful builds are included in
				the details below.</div>
		</div>
		<p />
		<h3>Feature Performance</h3>
		<div id="projectgraph">
			<noscript>
				<p>This content requires JavaScript.</p>
			</noscript>
		</div>
		<p />
		<h3>Scenario details</h3>
	</div>
	<div class="fullWidth">
		<table class="summaryTable">
			<tr>
				<th class="coloured">Scenario Name</th>
				<th class="coloured">Steps</th>
				<th class="coloured">Shortest Duration</th>
				<th class="coloured">Longest Duration</th>
				<th class="coloured">Average Duration</th>
			</tr>
			#foreach ($summary in $scenarioData)
			<tr>
				<td><a href="$summary.pageLink">$summary.name</a></td>
				<td>$summary.numberOfSubItems</td>
				<td>$summary.formattedShortestDuration</td>
				<td>$summary.formattedLongestDuration</td>
				<td>$summary.formattedAverageDuration</td>
			</tr>
			#end
		</table>
	</div>
	<p />
	<div id="pageFooter">
		generated by the <a
			href="https://github.com/TrueDub/cucumber-performance">Cucumber
			Performance Reporting Plugin</a> version $BUILD_NUMBER$ on: $genDate.
	</div>

</body>
</html>