<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cucumber Project Reports</title>
<link rel="stylesheet" href="main.css" type="text/css" media="screen" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
	/* project-level graph */
	jQuery(document).ready(function() {
		jQuery('#projectgraph').highcharts({
			chart : {
				type : 'line'
			},
			legend : {
				enabled : false
			},
			tooltip : {
				enabled : false
			},
			title : {
				text : 'Project Performance'
			},
			xAxis : {
				title : {
					text : 'Build Number'
				},
				tickInterval : 1
			},
			yAxis : {
				title : {
					text : 'Time taken (seconds)'
				}
			},
			series : [ {
				data : $perfData
			} ]
		});
	});
</script>
</head>
<body>
	<div id="pageHeader">
		<div id="titleArea">Cucumber Project Reports</div>
		<div id="linkArea">
			<div id="jenkinsLink">
				<a href="${jenkins_base}job/$build_project">Back To Jenkins</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<p />
	<div id="content">
		<h1>Performance Report for $projectSummary.projectName</h1>
		<h3>Summary</h3>
		<p />
		<div id="summaryArea">
			<div id="buildSummary">
				<table class="summaryTable">
					<tr>
						<th class="coloured" colspan="2">Build Summary</th>
					</tr>
					<tr>
						<td>Number of Passed Builds:</td>
						<td>$projectSummary.passedBuilds</td>
					</tr>
					<tr>
						<td>Number of Failed Builds:</td>
						<td>$projectSummary.failedBuilds</td>
					</tr>
					<tr>
						<td>Number of Total Builds:</td>
						<td>$projectSummary.totalBuilds</td>
					</tr>
				</table>
			</div>
			<div id="stepSummary">
				<table class="summaryTable">
					<tr>
						<th class="coloured" colspan="2">Step Summary</th>
					</tr>
					<tr>
						<td>Number of Passed Steps:</td>
						<td>$projectSummary.passedSteps</td>
					</tr>
					<tr>
						<td>Number of Failed Steps:</td>
						<td>$projectSummary.failedSteps</td>
					</tr>
					<tr>
						<td>Number of Skipped Steps:</td>
						<td>$projectSummary.skippedSteps</td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>
		</div>
		<p />
		<h3>Overall Project Performance</h3>
		<div id="projectgraph">
			<noscript>
				<p>This content requires JavaScript.</p>
			</noscript>
		</div>
		<p />
		<h3>Scenario details</h3>
		<div id="scenarioArea">
			<table class="summaryTable">
				<tr>
					<th class="coloured">Scenario Name</th>
					<th class="coloured">Shortest Duration</th>
					<th class="coloured">Longest Duration</th>
					<th class="coloured">Average Duration</th>
				</tr>
				#foreach ($summary in $scenarioData)
				<tr>
					<td>$summary.scenarioName</td>
					<td>$summary.FormattedShortestDuration</td>
					<td>$summary.FormattedLongestDuration</td>
					<td>$summary.FormattedAverageDuration</td>
				</tr>
				#end
			</table>
		</div>
		<p />
	</div>
	<div id="pageFooter">
		generated by the <a
			href="https://github.com/jenkinsci/cucumber-performance-plugin">Cucumber
			Performance Reporting Plugin</a> on: $genDate.
	</div>

</body>
</html>