<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cucumber Project Reports</title>
<link rel="stylesheet" href="main.css" type="text/css" media="screen" />
<script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>	
jQuery(document).ready(function() {              
    jQuery('#projectgraph').highcharts({
        chart: {
            type: 'line'
        },
		legend: {
            enabled: false
        },        
        title: {
            text: 'Project Performance'
        },
        xAxis: {
            title: {
                text: 'Build Number'
            }
        },
        yAxis: {
            title: {
                text: 'Time taken (seconds)'
            }
        },
        series: [{
			data: $perfData
		}]
    });
});
</script>
<noscript>
   	<P>This content requires JavaScript.</P>
</noscript>
</head>
<body>
<div id="pageHeader">Cucumber Project Reports</div>
<div id="returnLink"><a href="${jenkins_base}job/$build_project/$build_number">Back To Jenkins Project</a></div>
<p />
<div id="summaryTable">
<table>
    <tr><td>Passed Builds:</td><td>$projectSummary.passedBuilds</td></tr>
	<tr><td>Failed Builds:</td><td>$projectSummary.failedBuilds</td></tr>
	<tr><td>Total Builds:</td><td>$projectSummary.totalBuilds</td></tr>
</table>
</div>
<p />
<div id="projectgraph"></div>
<p />
<div id="pageFooter">generated by the Cucumber Performance Reporting Plugin on: $genDate</div>
</body>
</html>