<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Cucumber Project Reports</title>
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
        <script type="text/javascript" src="js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="js/highcharts-3.0.2/highcharts.js"></script>
        <script type="text/javascript" src="js/performanceGraph.js"></script>
        <script>
            var titleText = 'Project Performance'
            var perfData = $perfData
            var averageData = $averageData
        </script>
    </head>
    <body>
        <div id="pageHeader">
            <div id="titleArea">Cucumber Project Reports</div>
            <div id="linkArea">
                <div id="jenkinsLink">
                    <a href="${jenkins_base}job/$build_project">Back To Jenkins</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <p />
        <div class="content">
            <h1>Performance Report for $projectSummary.name</h1>
            <h3>Summary</h3>
            <p />
            <div id="summaryArea">
                <div id="buildSummary">
                    <table class="summaryTable">
                        <tr>
                            <th class="coloured" colspan="2">Build Summary</th>
                        </tr>
                        <tr>
                            <td>Number of Passed Builds:</td>
                            <td>$projectSummary.passedBuilds</td>
                        </tr>
                        <tr>
                            <td>Number of Failed Builds:</td>
                            <td>$projectSummary.failedBuilds</td>
                        </tr>
                        <tr>
                            <td>Number of Total Builds:</td>
                            <td>$projectSummary.totalBuilds</td>
                        </tr>
                    </table>
                </div>
                <div id="stepSummary">
                    <table class="summaryTable">
                        <tr>
                            <th class="coloured" colspan="2">Step Summary</th>
                        </tr>
                        <tr>
                            <td>Number of Passed Steps:</td>
                            <td>$projectSummary.passedSteps</td>
                        </tr>
                        <tr>
                            <td>Number of Failed Steps:</td>
                            <td>$projectSummary.failedSteps</td>
                        </tr>
                        <tr>
                            <td>Number of Skipped Steps:</td>
                            <td>$projectSummary.skippedSteps</td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
                <p />
                <div class="emphasised">Only successful builds are included in
                    the details below.</div>
            </div>
            <p />
            <h3>Overall Project Performance</h3>
            <div id="graphArea">
                <noscript>
                    <p>This content requires JavaScript.</p>
                </noscript>
            </div>
            <p />
            <h3>Links to overall reports</h3>
            <div id="summaryReports">
                <a href="sortedreports.html">Downloadable Reports sorted by performance</a>
            </div>
            <p />
            <h3>Feature details</h3>
        </div>
        <div class="fullWidth">
            <table id="scenarioTable" class="summaryTable">
                <thead>
                    <tr>
                        <th class="coloured">Feature Name</th>
                        <th class="coloured">Scenarios</th>
                        <th class="coloured">Shortest Duration</th>
                        <th class="coloured">Longest Duration</th>
                        <th class="coloured">Average Duration</th>
                    </tr>
                </thead>
                #foreach ($summary in $featureData)
                    <tr>
                        <td>
                            <a href="$summary.pageLink">$summary.name</a>
                        </td>
                        <td>$summary.numberOfSubItems</td>
                        <td>$summary.formattedShortestDuration</td>
                        <td>$summary.formattedLongestDuration</td>
                        <td>$summary.formattedAverageDuration</td>
                    </tr>
                #end
            </table>
        </div>
        <p />
        #parse ("/templates/footer.vm")
    </body>
</html>
