<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Cucumber Feature Report</title>
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/jquery.dataTables.css" type="text/css" media="screen" />
        <script type="text/javascript" src="js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="js/jquery/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/featureSortedTable.js"></script>
        <script type="text/javascript" src="js/scenarioSortedTable.js"></script>
        <script type="text/javascript" src="js/stepSortedTable.js"></script>
        <script>
            var sortedFeatureData = $sortedFeatureData
            var sortedScenarioData = $sortedScenarioData
            var sortedStepData = $sortedStepData
        </script>
    </head>
    <body>
        <div id="pageHeader">
            <div id="titleArea">Cucumber Project Reports</div>
            <div id="linkArea">
                <div id="projectLink">
                    <a href="projectview.html">Back To Project View</a>
                </div>
                <div id="jenkinsLink">
                    <a href="${jenkins_base}job/$build_project">Back To Jenkins</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <p />
        <div class="content">
            <h1>Overall performance lists</h1>
            <h3>Worst-performing features (by average duration)</h3>
            <p>Click on the arrows to change the sorting.</p>
        </div>
        <div class="fullWidth">
            <table id="sortedFeatureTable" class="summaryTable">
                <thead>
                    <tr>
                        <th class="coloured">Feature Name</th>
                        <th class="coloured">Scenarios</th>
                        <th class="coloured">Shortest Duration</th>
                        <th class="coloured">Longest Duration</th>
                        <th class="coloured">Average Duration</th>
                        <th class="coloured">S</th>
                        <th class="coloured">L</th>
                        <th class="coloured">A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content">
            <h3>Worst-performing scenarios (by average duration)</h3>
            <p>Click on the arrows to change the sorting.</p>
        </div>
        <div class="fullWidth">
            <table id="sortedScenarioTable" class="summaryTable">
                <thead>
                    <tr>
                        <th class="coloured">Scenario Name</th>
                        <th class="coloured">Steps</th>
                        <th class="coloured">Shortest Duration</th>
                        <th class="coloured">Longest Duration</th>
                        <th class="coloured">Average Duration</th>
                        <th class="coloured">S</th>
                        <th class="coloured">L</th>
                        <th class="coloured">A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content">
            <h3>Worst-performing steps (by average duration)</h3>
            <p>Click on the arrows to change the sorting.</p>
        </div>
        <div class="fullWidth">
            <table id="sortedStepTable" class="summaryTable">
                <thead>
                    <tr>
                        <th class="coloured">Step Name</th>
                        <th class="coloured">Steps</th>
                        <th class="coloured">Shortest Duration</th>
                        <th class="coloured">Longest Duration</th>
                        <th class="coloured">Average Duration</th>
                        <th class="coloured">S</th>
                        <th class="coloured">L</th>
                        <th class="coloured">A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
<p />
#parse ("/templates/footer.vm")
</body>
</html>
